body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

/*======================= NAVBAR CSS ========================*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

a.nav-flex-item {
  padding-left: 16px;
  text-decoration: underline seashell 1px;
}

#logo {
  height: 50px;
  padding: 10px;
}

/*====================== MAIN CSS =============================*/


article.mission-container {
  background-image: url(./mission-background.png);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}








